body{
  background-image: url('https://www.wallpaperuse.com/wallp/45-450899_m.jpg');
  background-attachment: fixed;
}

/* LINKS */

a:link, a:visited, a:active {
  text-decoration:none;
}

/***********Navbar**********/

.navbar {
  background-color: black;
  color: white
}

#header {
  background-color: black;
}

.navbar-brand {
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}


.containerNav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vw 2.5vw;
  font-size: 1.5vw;
  background-color: #bb0000;
  color: white;
}

.navbar-nav{
  font-size: 1.2rem;
  margin: 14px 0 0 0;
}

.CartWidget{
  font-size: 1.6rem;
  transition: 200ms ease
}
.CartWidget:hover{
  color: rgb(219, 71, 71);
  font-size: 2.3vw;
  transition: 200ms ease;
}
a.navbar-brand{
  font-size: 2vw;
}
.nav-item{
  color: white;
  
}
.nav-item:hover{
  font-weight: bold;
  transition: 200ms ease;
}
.containerItemListContainer, .containerCategory{
  width: 100%;
  padding: 1vw 2vw;
  display: flex;
  justify-content: center;
}
.containerItemList{

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.containerItemCount{
  background-color: rgba(54, 50, 50, 0.174);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.itemCount{
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  
  transition: 200ms;
}
.itemCount:hover{
  transform: scale(1.05);
  transition: 200ms;
}
.boxQuantity{
  font-size: 2vw;
  padding: 0 1rem;
  border: 1px solid #383838;
  border-radius: 6px;
}
.containerCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 300ms;
  width: 360px;
  height: auto;
}
.containerCard:hover{
  box-shadow: 5px 5px 10px rgba(170, 6, 6, 0.9);
  transition: 200ms;
  border: 2px solid  rgba(197, 120, 120, 0.486);
}
.linkCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerCard a {
  text-decoration: none;
  color: black;
}
.imageCard{
  width: 100%;
  height: 20vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.containerCategory{
  flex-direction: column;
  align-items: center;
}

/*************Home************/

.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content:space-evenly;
  margin: 3em 0;;
}

.home_containerCard {
  width: 360px;
  height:  auto;
  text-decoration: none;
}

.home_containerCard h3 {
  text-decoration: none;
}

/*************Detalles del producto************/


.itemDetail{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: #000000a8;
  padding: 2rem 1rem 2rem 1rem;
  border-radius:1rem;
}

.itemDetail img {
  width:auto;
  height:320px;
  padding: 1rem;
  border-radius:2rem;
}

.ItemDetail p{
  width: 80%;
}

.containerDetailContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: red;
}

.containerDetailContainer__Product{
  padding: 3rem 9rem 1rem 9rem;
  color: red;
  font-size: 1.5rem;
}

.boxQuantity{
  font-size: 1.5rem;
  display: grid;
  align-items: center;
  align-content: center;
}

.ItemDetail__irAlCarrito{
  border: 1px solid red;
  color: white;
  border-radius: 8px;
  font-size: 1.4rem;
  background-color: red;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
  align-items: center;
  display: flex;
}

.ItemDetail__irAlCarrito:hover{
  color: red;
  background-color: white;
  color: rgb(219, 71, 71);
  font-size: 1.4vw;
  transition: 200ms ease;
}

/*************Cart************/

.counter__style {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin: 10px 40px 40px 10px;
}

.Cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0 10px 0;
  color: white;
}

.Cart__conteiner{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  background-color: #000000a8;
  margin: 20px 0 10px 0;
  width: 50rem;
  border-radius:1rem;
  padding: 2rem;
}

.Cart__h3 {
  color: red;
}

.Cart__info{
  width: 20rem;
  margin: 0 5rem 0 5rem;
}

.Cart__img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin: 0 10px 0 10px;
}

.Cart__button{
  background-color: red;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.Cart__button:hover{
  color: rgb(243, 243, 243);
  font-size: 1.1vw;
  transition: 200ms ease;
}

.Cart__vacia{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 200px 0 0 0;
  font-size: 4rem;
  background-color: #000000cb;
  padding: 4rem;
  border-radius: 8px;
}

.Cart__total{
  display: flex;
  font-size: 2rem;
  color: red;
  background-color: #000000a8;
  padding: 1rem;
  border-radius: 8px;  
  align-items: center;
}

.Cart__total p {
  margin: 1rem;

}

.Cart__link{
  background-color: white;
}

/*************Media queries************/

@media (min-width: 1px) and (max-width: 600.98px) { 
 
  /*************Card************/

  .Cart{
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }

  .Cart_conteiner{
    width: 260px;
    height: auto;
  }

  .containerCard {
    width: 260px;
    height: auto;
  }

  /*************Home************/
  
  .home_containerCard {
    width: 260px;
    height: 140px;;
  }

  /*************Detalles del producto************/

  .itemDetail {
    flex-direction: column;
    width: 100%;
  }

  .ItemDetail__description{
    width: 90%;
    height:auto;
  }

  .containerDetailContainer__Product{
    padding: 3rem 1rem 1rem 1rem;
    color: red;
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
  }

 /*************Cart************/

  .Cart__vacia{
    margin: 100px 0 0 0;
    font-size: 3rem;
    background-color: #000000cb;
    padding: 1rem;
    border-radius: 8px;
  }
}

@media (min-width: 600.1px) and (max-width: 1500px) {
  /*************Detalles del producto************/

  .containerDetailContainer__Product{
    padding: 3rem 3rem 1rem 3rem;
    color: red;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
  }

  .Cart {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .Cart_conteiner {
    width: 500px;
    height: auto;
  }

  .itemDetail {
    flex-wrap: wrap;
  }

}