.productos_conteiner {
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 5em;
    flex-wrap: wrap;
}

.productos_columna {
    max-width: 400px;;
    margin: 15px;
    font-size: 1.5rem;
    height: auto;
    height: 80%;
}

.productos_img {
    border-radius: 15px;
}