.Item {
  font-family: ´Spartan´, sans-serif;
  justify-content:center;
  align-items:center;
  gap: 2rem;
  height: 11rem;
  color: #222;
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
}
h1 {
  font-size: 1.5rem;
}
.Item .botones {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.Item .botones * {
  border: none;
  background-color: #444;
  box-shadow: 0px 0px 10px #cfd8dc;
  font-weight: bold;
  font-size: 2rem;
  color: orange;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  outline: none;
  transition: background-color 250ms ease-in-out, transform 50ms ease-in-out;
}
.Item .botones *:hover {
  background-color: #cfd8dc;
}
.Cards .botones *:active {
  transform: scale(0.9);
}
.negativo {
  color: #c00;
  animation: pulse 500ms ease-in-out;
}
.positivo {
  color: #72c02c;
  animation: pulse 500ms ease-in-out;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.caracteristicas_btn {
    display: inline-block;
    border: none;
    background-color: #444;
    box-shadow: 0px 0px 10px #cfd8dc;
    font-weight: bold;
    font-size: 2rem;
    color: orange;
    border-radius: 10%;
    height: 2.5rem;
    width: 11rem;
    cursor: pointer;
    outline: none;
    transition: background-color 250ms ease-in-out, transform 50ms ease-in-out;  
}
